:root {
  --font-color-title: #000;
  --font-color-base: #677788;
  --font-color-link: #2476ff;
  --contrast: #ecf2ff;

  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-80: 5rem;
  --size-90: 5.625rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0 auto;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }
p { margin-top: 0; }

h2 {
  font-size: 1.625rem;
  line-height: 1.2;
  color: var(--font-color-title);
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blue-text.blue-text { color: var(--font-color-link); }

.blue-btn.blue-btn {
  background-color: var(--font-color-link);
  padding: 0.9375rem 1.5625rem;
  border-radius: 1.5625rem;
  color: white;
  font-size: var(--size-12);
}

.play-btn {
  display: inline-block;
  margin-top: var(--size-14);
}

.fa-circle-play {
  font-size: var(--size-18);
  margin-right: 0.5rem;
  position: relative;
  top: 0.125rem;
}

.sketch {
  padding: 0.125rem 0.6875rem;
  width: var(--size-60);
  height: 1.4375rem;
  background: #01C9A7;
  border-radius: var(--size-16);
  color: white;
  font-size: var(--size-12);
}

.sketch-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-10);
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


