:root {
  --white: #fff;
  --font-color-title: #000;
  --font-color-base: #677787;
  --font-color-link: #2476fe;
  --font-color-subtext:#5e6267;
  --contrast: #ecf2ff;
  --input-placeholder: #828282;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;

}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }
p { margin-top: 0; }

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blue-text.blue-text { color: var(--font-color-link); }

.blue-btn.blue-btn {
  background-color: var(--font-color-link);
  padding: 0.85rem 27px;
  border-radius: 25px;
  color: var(--white);
}

.play-btn {
  display: inline-block;
  margin-top: 14px;
  font-size: 13px;
  font-weight: 500;
}

.fa-circle-play {
  font-size: 18px;
  margin-right: 9px;
  position: relative;
  top: 2px;
}

/* .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */

