@media screen and (max-width: 1023px) {
  .navbar__links {
    font-size: var(--size-18);
  }

  [aria-controls="navbarDropdown"] {
    display: block;
    visibility: visible;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-40);
    position: absolute;
    background: white;
    width: 102vw;
    height: 15rem;
    top: 4.125rem;
    left: -0.25rem;
    border-top: 1px solid #E7E7E7;
    padding: var(--size-70) 9.6875rem;
    box-shadow: 0 10px 30px -10px;
  }

  .features-header__hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .features-header__content {
    text-align: center;
  }

  .features-header__icons {
    margin-top: 6.5625rem;
    width: 80%;
    height: 16rem;
    margin-left: -6.25rem;
    margin-right: 0;
  }

  .key-benefits__extra-info {
    margin-top: var(--size-150);
    flex-direction: column;
    text-align: center;
    gap: var(--size-40);
  }

  .key-benefits__extra-info-content {
    padding: 0;
  }

  .key-benefits__img-wrapper {
    align-self: initial;
  }

  .why-front {
    margin-top: 8.125rem;
  }

  .why-front__testimonial {
    flex-direction: column;
    gap: 0;
  }

  .why-front__testimonial-testimony {
    text-align: center;
    margin-top: 8.125rem;
    margin-bottom: var(--size-60);
  }

  .why-front__testimonial-icon {
    margin: auto;
  }

  .why-front__trusted {
    margin-top: 0;
  }

  .pricing__cards {
    margin-bottom: var(--size-60);
    grid-template-columns: 1fr 1fr;
  }

  .pricing__big-card {
    grid-row: initial;
    grid-column: 1 / -1;
    text-align: center;
  }

  .hire-us__wrapper {
    flex-direction: column;
    align-items: initial;
    gap: var(--size-40);
  }

  .hire-us__left-side {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .hire-us__intro {
    max-width: 25rem;
  }

  .hire-us hr {
    width: 100%;
    border-bottom: 1px solid white;
  }

  #hireUsFormBtn {
    width: revert;
    border-radius: 1.5625rem;;
  }

  .footer__top {
    grid-template-columns: 15.625rem 1fr 1fr;
  }

  footer hr {
    margin-top: var(--size-40);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  [aria-expanded="true"] ~ ul {
    gap: var(--size-20);
  }

  .key-benefits > p {
    margin-left: 16px;
    margin-right: 16px;
  }

  .key-benefits__card-list {
    margin-bottom: 0;
  }

  .key-benefits__extra-info {
    margin-top: 20%;;
  }

  .why-front {
    margin-top: 15%;
  }

  .why-front__bullet {
    display: flex;
    align-items: center;
  }

  .why-front__bullets-list {
    flex-direction: column;
    width: 300px;
    margin-top: var(--size-40);
  }

  .why-front__bullet-wrapper {
    margin-right:var(--size-30);
  }

  .why-front__line--transparent,
  .why-front__line--grey {
    display: none;
  }

  .why-front__video-wrapper {
    margin-bottom: 40px;
  }

  .why-front__testimonial-img-wrapper {
    margin-right: 20px;
    margin-left: 60px;
  }

  .why-front__testimonial-testimony {
    margin-top: var(--size-90);
    margin-bottom: var(--size-40);
  }

  .why-front__trusted-icons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .pricing__cards {
    grid-template-columns: 1fr;
  }

  .hire-us__left-side {
    flex-direction: column;
  }

  .hire-us__intro {
    margin-right: 0;
    text-align: center;
  }

  .hire-us__form-grid {
    grid-template-columns: 1fr;
  }

  .hire-us__form-side textarea {
    grid-column: initial;
  }

  .footer__top {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .footer__address-wrapper {
    grid-row: initial;
  }

  .footer__bottom-upper,
  .footer__sml-wrapper {
    flex-direction: column;
    gap:var(--size-30);
  }
}

@media screen and (max-width: 579px) {
  [aria-expanded="true"] ~ ul {
    height: 25rem;
  }
}