@media screen and (max-width: 1023px) {
  .navbar__links {
    font-size: var(--size-18);
  }

  [aria-controls="navbarDropdown"] {
    display: block;
    visibility: visible;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-40);
    position: absolute;
    background: white;
    width: 100vw;
    height: 29vh;
    top: 4.125rem;
    left: -0.25rem;
    border-top: 1px solid #E7E7E7;
    padding: var(--size-70) 9.6875rem;
  }

  .features-header__hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .features-header__content {
    text-align: center;
  }

  .features-header__icons {
    margin-top: 6.5625rem;
    width: 80%;
    height: 16rem;
    margin-right: 7.1875rem;
  }

  .key-benefits__extra-info {
    margin-top: 12.5rem;
    flex-direction: column;
    text-align: center;
    gap: var(--size-40);
  }

  .key-benefits__img-wrapper {
    align-self: initial;
  }

  .why-front {
    margin-top: 8.125rem;
  }

  .why-front__testimonial {
    flex-direction: column;
    gap: 0;
  }

  .why-front__testimonial-testimony {
    text-align: center;
    margin-bottom: var(--size-60);
  }

  .why-front__testimonial-icon {
    margin: auto;
  }

  .pricing__cards {
    margin-bottom: var(--size-60);
    grid-template-columns: 1fr 1fr;
  }

  .pricing__big-card {
    grid-row: initial;
    grid-column: 1 / -1;
    text-align: center;
  }

  .hire-us__wrapper {
    flex-direction: column;
    align-items: initial;
    gap: var(--size-40);
  }

  .hire-us__left-side {
    display: flex;
    align-items: center;
  }

  .hire-us__intro {
    max-width: 25rem;
    margin-right: var(--size-60);
  }

  .hire-us hr {
    width: 100%;
    border-bottom: 1px solid white;
  }

  #hireUsFormBtn {
    width: revert;
    border-radius: 1.5625rem;;
  }

  .footer__top {
    grid-template-columns: 250px 1fr 1fr;
  }

  footer hr {
    margin-top: var(--size-40);
  }
}