/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  transition: ease 0.3s;
}

.navbar__logo {
  width: 150px;
  transition: ease 0.3s;
}

.navbar__links {
display: flex;
gap: 25px;
}

.navbar__links a {
  color: var(--font-color-base);
}

.navbar__links .navbar__btn {
  background-color: var(--font-color-link);
  padding: 12px 23px;
  border-radius: 25px;
  color: var(--white);
  margin: 0 10px;
}

.navbar__toggler {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

/* Header */
.features-header {
  position: relative;
  overflow: hidden;
  padding: 200px;
}

.features-header::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -102%;
  left: -100%;
  z-index: -1;
  background-image: linear-gradient(116deg, #fff 65%,#eee 86%, #e0e7ef 86%);
   transform: rotate(-6deg);
}