/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-20) var(--size-30);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  transition: ease 0.3s;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__logo {
  width: 9.6875rem;
  transition: ease 0.3s;
}

.navbar__links {
  display: flex;
  gap: var(--size-20);
  font-weight: 500;
}

.navbar__links a {
  color: var(--font-color-base);
}

.navbar__links .navbar__btn {
  margin: 0 var(--size-10);
  font-size: var(--size-12);
  font-weight: 700;
}

.navbar__toggler {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

/* Header */

.features-header {
  position: relative;
  overflow: hidden;
  padding-top: 11.25rem;
  height: 35.375rem;
}

.features-header::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -102%;
  left: -100%;
  z-index: -1;
  background-image: linear-gradient(117deg, #fff 60%,#eee 86%, #E1E7EF 86%);
  transform: rotate(-6deg);
}

.features-header__hero-wrapper {
  display: flex;
  justify-content: space-between;
}

.features-header__title {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: var(--size-40);
  line-height: 1.2;
  margin-bottom: var(--size-12);
}

.features-header__learn-more {
  font-weight: 700;
  margin-left: 1.5rem;
}

.features-header__icons {
  position: relative;
}

.features-header__icons div {
  background-color: white;
  border-radius: 50%;
  width: 5rem;
  padding: var(--size-16);
  position: absolute;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
}

.features-header__google-icon.features-header__google-icon {
  right: 346px;
  top: -46px;
  width: var(--size-60);
  padding: var(--size-10);
}

.features-header__atlassian-icon {
  right: 218px;
  top: -46px;
}

.features-header__asana-icon {
  right: 14px;
  top: -45px;
}

.features-header__paypal-icon {
  right: 348px;
  bottom: 51px;
}

.features-header__google-a-icon.features-header__google-a-icon {
  width: var(--size-60);
  padding: var(--size-10);
  right: 251px;
  bottom: -50px;
}

.features-header__weave-icon {
  right: 130px;
  bottom: 51px;
}

.features-header__calendar-icon {
  right: 31px;
  bottom: -90px;
}

/* Key Benefits */

.key-benefits {
  text-align: center;
  margin-top: var(--size-150);

}

.key-benefits > p {
  font-size: var(--size-16);
  margin-bottom: var(--size-60);
}


.key-benefits__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:var(--size-30);
  margin-bottom: 5.625rem;
}

.key-benefits__card {
  min-width: 13.125rem;
  max-width: 21.25rem;
  text-align: left;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #FFFFFF;
  padding: var(--size-20);
  flex: 1;
}

.key-benefits__card img {
  width: var(--size-50);
}

.key-benefits__card h4 {
  color: var(--font-color-title);
  font-size: var(--size-16);
}

.key-benefits__card a {
  color: var(--font-color-link);
  font-weight: 700;
}




